In [2]:
import numpy as np
import pandas as pd

In [3]:
# List
l = [[0, 0, 0 ,0, 0, 0], [1, 1, 1, 1, 1, 1]]
l

[[0, 0, 0, 0, 0, 0], [1, 1, 1, 1, 1, 1]]

In [18]:
# Numpy array
arr = np.array([[0, 0, 0 ,0, 0, 0], [1, 1, 1, 1, 1, 1]])
arr

array([[0, 0, 0, 0, 0, 0],
       [1, 1, 1, 1, 1, 1]])

In [5]:
# Pandas DataFrame
df = pd.DataFrame({'l1': arr[0], 'l2': arr[1]})
df

   l1  l2
0   0   1
1   0   1
2   0   1
3   0   1
4   0   1
5   0   1

## Compute the mean of the series

In [ ]:
# Not possible for lists
mean(l)
l.mean()

In [10]:
# Possible for numpy array
print(arr.mean())
print(arr[0].mean())
print(arr[1].mean())

0.5
0.0
1.0

In [14]:
# Possible for pandas DataFrames
print(df.mean().mean())
df.mean()

0.5

l1    0.0
l2    1.0
dtype: float64

## Advanced functions for DataFrames compared to Numpy arrays

In [15]:
df.describe()

        l1   l2
count  6.0  6.0
mean   0.0  1.0
std    0.0  0.0
min    0.0  1.0
25%    0.0  1.0
50%    0.0  1.0
75%    0.0  1.0
max    0.0  1.0

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   l1      6 non-null      int64
 1   l2      6 non-null      int64
dtypes: int64(2)
memory usage: 224.0 bytes

Not implemented in numpy

### Origins

- Lists is the base
- Numpy arrays, use lists
- DataFrames, use numpy arrays

DataFrames:
- columns names
- lot of advanced functions for data management (analysis, cleaning, feature engineering)